* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    width: min(70ch, 100% - 2rem);
    margin-inline: auto;
    margin-top: 0.5rem;
}

.location-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

input, button {
    border-radius: 5px;
}

input[type="text"] {
    border-style: solid;
    padding: 0 0.5rem;
    max-width: 10rem;
}

#search {
    border: none;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

#search:hover {
    cursor: pointer;
    background-color: darkgray;
}

input[type="checkbox"] {
    grid-column: 1 / -1;
    margin-top: 0.5rem;
    position: relative;
}
/*
input[type="checkbox"]::before {
    content: "°C";
    position: absolute;
    left: -1.125rem;
}*/

input[type="checkbox"]::after {
    content: "°F";
    position: absolute;
    right: -1.085rem;
    text-align: right;
}

.results-container {
    text-align: center;
    margin-top: 0.5rem;
}

.weather-container {
    padding: 0.5rem 0;
}

.weather-container:not(:first-of-type) {
    border-top: 1px solid grey;
}

h2 {
    font-size: 1.125rem;
}

img {
    max-width: 48px;
}